<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="https://fcc-image-search-abstraction-layer.glitch.me/api/latest/imagesearch/">
      <code>https://fcc-image-search-abstraction-layer.glitch.me/api/latest/imagesearch/</code>
    </a><br>
    <a href="https://fcc-image-search-abstraction-layer.glitch.me/api/imagesearch/lolcats%20funny">
      <code>https://fcc-image-search-abstraction-layer.glitch.me/api/imagesearch/lolcats%20funny</code>
    </a>
  </body>
</html>
